[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "elsa"]
	path = elsa
	url = https://github.com/babaknaimi/elsa
[submodule "rts"]
	path = rts
	url = https://github.com/babaknaimi/rts
[submodule "sdm"]
	path = sdm
	url = https://github.com/babaknaimi/sdm
[submodule "usdm"]
	path = usdm
	url = https://github.com/babaknaimi/usdm
